*.retry
*.log

# Ansible
ansible/.vault_pass
ansible/.ansible/

# Secrets Ansible
ansible/files/backend.env
ansible/files/k3s-node-token.txt

# Kubernetes secrets
kubernetes/mysql/secret.yaml
kubernetes/deployments/keycloak/employee-realm-realm.json
