apiVersion: v1
kind: Secret
metadata:
  name: "{{ item.key }}-secret"
  namespace: hirely
type: Opaque
stringData:
{% for key, value in item.value.secret.items() %}
  {{ key }}: "{{ value }}"
{% endfor %}
